<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body style="background: #ffffff">
    <nav>
      <a class="links logo" href="#">Welcome</a>
      <div class="rightSection">
        <a class="selected links">Home</a>
        <a class="links" href="./AddBook">Add book</a>
        <a class="links" href="./Mybooks">my books</a>
        <a class="links" href="./logout">logout</a>
      </div>
    </nav>


    <div></div>
    <table>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Collage</th>
        <th>OwnerID</th>
        <th>Owner Name</th>
      </tr>

      <% books.forEach(element => { %>
        <tr>
          <td><%= element.book_name  %></td>
            <td><%= element.id  %></td> 
          <td><%= element.collage  %></td>
            <td><%= element.userId  %></td>
            <td><%= element.name  %></td>

        </tr>
        <% }); %> 

      


      
    </table>

  </body>
</html>
