<%- include('./Shared/header.ejs'); %>


    <div></div>
    <table>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Delete</th>
      </tr>

      <% books.forEach(element => { %>
      <tr>
        <td><%= element.name %></td>
        <td><%= element.id %></td>
        <td ><button id=<%= element.id %> onclick="del(this.id)" type="button" >X</button></td>
      </tr>
      <% }); %>
    </table>

    <script>
     
      function del(butID){
        console.log(butID);
        
      fetch("http://localhost:5000/books", {
        method: "DELETE",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ "bookid": butID }),
      })
        .then((response) =>window.location.reload())
        
    }
    </script>
  </body>
  <%- include('./Shared/footer.ejs'); %>

